*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(../img/background.jpg);
}

.profile-javier {
    text-decoration: none !important;
    color: black;
}

h1{
    display: flex;
    justify-content: center;
    margin: 20px 0px !important;
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size: 40px !important;
    filter: drop-shadow(2px 4px 6px white);
}

h1:hover{
    transform: scale(1.2);
    color: black;
}

.img-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.img-container a {
    width: 50%;
}

.logo-img {
    width: 100%;
    margin: 10px 0px;
}

.challenge-png{
    width: 42%;
}

section.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.impar, div.par{
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

div.impar p, div.par p{
    margin-top: 10px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
    background: rgba(0,0,0,0.1);
    filter: drop-shadow(2px 4px 6px white);
    border-radius: 10px;
    padding: 5px;
}

div.impar p:hover{
    transform: scale(1.02);
}

div.par p:hover{
    transform: scale(1.02);
}

.p-titulo{
    font-weight: bold;
}


p.eye{
    margin-bottom: 10px !important;
}

.btn-impar , .btn-par{
    background: none ;
}

.divBorder{
    border-top: 1px solid black;
    width: 90%;
    margin: 10px 0;
    filter: blur(1px);
}


div.par button, div.impar button{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
}

div.impar img, div.par img{
    width: 100%;
    border-radius: 20px;
    background: none;
    border: solid 1px black;
    filter: drop-shadow(2px 4px 6px black);
}

section.images button.btn.btn-primary{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    border: none;
}

section.images button.btn.btn-primary{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    border: none;
}

.btn-cargar-texto{
    width: 80% !important;
    margin-bottom: 0;
    filter: drop-shadow(2px 4px 6px black);
}

textarea.json-text{
    margin: 10px 0;
    width: 90%;
    border: 3px solid #0a58ca;
}

div.modal-body img{
width: 100%;
}


/* popup */

.img-popup {
    width: 100%;
    height: 100vh;
}

.popup button{
    margin-bottom: 10px;
    width: 48%;
}

.botonera-popup{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

span.valor-impar{
    color: green;
}

/* box effect */

.container {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

@media (min-width: 768px){

    .img-container a{
        width: 37%;
        max-width: 362px;
    }

   .logo-img {
        width: 100%;
        max-width: 362px;
             }

    .challenge-png {
    width: 25%;
}

    h1{
        font-size: 65px;
        margin: 40px 0px !important;

    }
   

    section.images{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    div.impar, div.par {
        width: 19%;
    }

    div.impar p, div.par p {
        font-size: 13px;
    }

    .divBorder{
        display: none;
    }

}