*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(../img/background.jpg);
}

h1{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size:  65px;
}

.img-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    width: 100%;
    margin: 10px 0px;
}

.challenge-png{
    width: 25%;
}

section.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.impar, div.par{
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

div.impar p, div.par p{
    margin-top: 10px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-size: 22px;
}

.btn-impar , .btn-par{
    background: none ;
}


div.par button, div.impar button{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
}

div.impar img, div.par img{
    width: 100%;
    border-radius: 20px;
    background: none;
}

button.btn.btn-primary{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    border: none;
}


.btn-cargar-texto{
    width: 80% !important;
    margin-bottom: 0;
    filter: drop-shadow(2px 4px 6px black);
}

textarea.json-text{
margin: 10px 0;
}

div.modal-body img{
width: 100%;
}

.prueba button{
    margin-bottom: 10px;
    width: 48%;
}

/* .container-popup{
} */

.img-popup {
    width: 100%;
    height: 100vh;
}

/* .button-popup{

} */

.botonera-popup{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

/* box effect */

.container {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

@media (min-width: 768px){

    section.images{
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }


    div.impar, div.par {
        width: 19%;
    }

    .logo-img {
        width: 30%;
             }


}